<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f9;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
    }

    h1 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }

    .button-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      margin-top: 20px;
    }

    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 12px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }

    button:active {
      background-color: #003f7f;
    }
    @media (max-width: 600px) {
      button {
        width: 100%;
      }
    }
  </style>
</head>
<body>

  <h1>{{title}}</h1>

  <div class="button-container">
    <button onclick="window.location.href='/ubicacion'">Ver Ubicaciones de Productos</button>
    <button onclick="window.location.href='/stock'">Ver Stock de Productos</button>
    
    <button onclick="window.location.href='/suma'">Ver Suma Total de Stock</button>
    
  </div>

</body>
</html>
